doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title About-Us
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='../css/aboutus.css')
include nav
.container-fluid.bg
  .row
    .col-lg-12
      #about.text-center
        h2  ABOUT US
        .undersubtitles.d-flex.justify-content-around.py-3.mt-3
          i.fas.fa-2x.fa-address-card
        pre(style='color:white !important; font-size:1.2rem;')                Home  ->  About Us             
.row.py-5.px-5(style='max-width:99.8vw;')
  .col-lg-6.col-md-12.text-center.pt-5.px-5
    p.px-5.py-5
      | Lorem simply dummy is a texted of the printing costed and
      | typesetting industry. Lorem Ipsum has been the industry&apos;s
      | standard dummy text ever since the 1500s, when an unknown printer
      | took a galley of type.
      | Lorem ipsum dolor sit amet consectetur adipisicing
      | elit. Dolores at voluptatum consectetur nisi eveniet,
      | esse odit incidunt amet natus cupiditate
      | velit nihil, repellendus dolorum ab minima omnis aliquid, earum necessitatibus.
  .col-lg-6.col-md-12.px-5
    img(src='../img/about-us/home-2-about.png' width='100%' height='100%' alt='A car was here')
.about-feature-area
  .row.aboutuscards.text-center.justify-content-around.mw-100
    // Single Fretutes Start
    .aboutuscard.col-lg-3.col-md-8.col-sm-8.default-white.pt-3.pb-3
      .about-feature-item
        i.fa.fa-car
        h4 QUALITY ASSURANCE
        p
          | Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit.
          | Nesciunted
          | all
          | of.
    // Single Fretutes End
    // Single Fretutes Start
    .aboutuscard.col-lg-3.col-md-8.col-sm-8.default-white.pt-3.pb-3
      .about-feature-item
        i.fa.fa-car
        h4 ALL BRANDS
        p
          | Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit.
          | Nesciunted
          | all
          | of.
    // Single Fretutes End
    // Single Fretutes Start
    .aboutuscard.col-lg-3.col-md-8.col-sm-8.default-white.pt-3.pb-3
      .about-feature-item
        i.fa.fa-car
        h4 CUSTOMER SATISFACTION
        p
          | Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit.
          | Nesciunted
          | all
          | of.
    // Single Fretutes End
// About Fretutes End
section.features
  .container
    .row
      // Single Facility Start
      .col-lg-3.col-md-6
        .single-our-facility
          h5 LIMO PARTY RENT
          ul
            li Parallax Everywhere
            li Interactive and Fun
            li Responsive and Refined
            li Color it All
            li Customize and Create
      // Single Facility Start
      // Single Facility Start
      .col-lg-3.col-md-6
        .single-our-facility
          h5 BUSINESS LIMO RENT
          ul
            li Parallax Everywhere
            li Interactive and Fun
            li Responsive and Refined
            li Color it All
            li Customize and Create
      // Single Facility Start
      // Single Facility Start
      .col-lg-3.col-md-6
        .single-our-facility
          h5 HOTEL/CASINO/HOTEL
          ul
            li Parallax Everywhere
            li Interactive and Fun
            li Responsive and Refined
            li Color it All
            li Customize and Create
      // Single Facility Start
      // Single Facility Start
      .col-lg-3.col-md-6
        .single-our-facility
          h5 AIRPORT TRANSPORT
          ul
            li Parallax Everywhere
            li Interactive and Fun
            li Responsive and Refined
            li Color it All
            li Customize and Create
      // Single Facility Start
.counterMain.py-8
  .row.text-center(style='max-width:99vw')
    .col-lg-3.col-md-3.col-sm-
      .counter
        i.fa.fa-user.fa-2x
        h2.timer.count-title.count-number(data-to='1700' data-speed='3000')
        p.count-text Happy Clients
    .col-lg-3.col-md-3.col-sm-
      .counter
        i.fas.fa-tools.fa-2x
        h2.timer.count-title.count-number(data-to='11500' data-speed='3000')
        p.count-text Total Tasks Complete
    .col-lg-3.col-md-3.col-sm-
      .counter
        i.fa.fa-coffee.fa-2x
        h2.timer.count-title.count-number(data-to='1257' data-speed='3000')
        p.count-text Coffee With Clients
    .col-lg-3.col-md-3.col-sm-3
      .counter
        i.fas.fa-user-friends.fa-2x
        h2.timer.count-title.count-number(data-to='357' data-speed='3000')
        p.count-text In House Professionals
.testimonial-container.col-lg-8.m-auto.justify-content-center
  .col-lg-12.vision-title.text-center.mt-5
    h1.testimonial-title.text-center  TESTIMONIALS 
    .undersubtitles.d-flex.justify-content-center
      hr.hrleft
      i.far.fa-thumbs-up.text-primary.fa-2x
      hr.hrright
  #myCarousel.carousel.slide(data-ride='carousel' data-interval='3000')
    // Carousel indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel' data-slide-to='0')
      li(data-target='#myCarousel' data-slide-to='2')
      li(data-target='#myCarousel' data-slide-to='1')
    // Wrapper for carousel items
    .carousel-inner
      .item.carousel-item.active
        .img-box
          img(src='./img/about-us/home-2-about.png' alt='')
        p.testimonial
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
          | tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
          | malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non
          | aliquet.
        p.overview
          b Paula Wilson
          | , Media Analyst
      .item.carousel-item
        .img-box
          img(src='./img/about-us/home-2-about.png' alt='')
        p.testimonial
          | Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget
          | nisi
          | a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam
          | at
          | mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.
        p.overview
          b Antonio Moreno
          | , Web Developer
      .item.carousel-item
        .img-box
          img(src='./img/about-us/home-2-about.png' alt='')
        p.testimonial
          | Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
          | lacinia.
          | Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt.
          | Phasellus
          | risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor
          | eget
          | rutrum.
        p.overview
          b Michael Holz
          | , Seo Analyst
    // Carousel controls
    //
      <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
include footer
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='../js/aboutus.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
