footer
  .row.footer-top.justify-content-around(style='max-width:99vw;')
    ul.col-sm-6.col-md-6.col-lg-4.list1.list-unstyled.text-center
      h3.text-center Quick Links
      li
        a(href='#') Jobs
      li
        a(href='#') Brand Assets
      li
        a(href='#') Investor Relations
      li
        a(href='#') Terms of Service
    ul.col-sm-6.col-md-6.col-lg-4.list2.list-unstyled.text-center
      h3 Get in Touch
      li
        a.text-primary(href='#')
          i.text-decoration-none.fab.fa-2x.fa-facebook
      li
        a.text-primary(href='#')
          i.fab.fa-2x.fa-twitter
      li
        a(href='#')
          i.fab.fa-2x.fa-instagram
      li
        a.text-danger(href='#')
          i.fab.fa-2x.fa-google-plus-g
    .col-sm-6.col-md-6.col-lg-4
      h3.text-center.mb-3 Newsletter
      form
        .row.justify-content-center
          .col-lg-7.ml-5
            input#newsletter-email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
            small#checkemail.form-text.text-center.text-danger
          button.btn.btn-transparent.col-lg-3.bg-transparent.text-danger.click-me-2(type='submit' style='padding-top:0 !important; max-height:40px !important;')
            i.far.fa-2x.fa-envelope-open
      small.form-text.text-center(id='#') We&apos;ll never share your email with anyone else.
  .footer-bottom
    h4(style='text-align: center ;margin-bottom:0;') Copyright &copy; 2019 CAR-EVERYTHING
