<nav class="navbar fixed-top navbar-expand-lg  navbar-light  " style="max-width: 100%">
    <a class="navbar-brand text-light" href="/home" style="margin-left:15vw !important"><img class="brandlogo"
        src="../img/home/brand-logo.png"></a>
    <button class="navbar-toggler bg-white" style="margin-right:15vw" type="button" data-toggle="collapse"
      data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <ul class="nav nav1 navbar-nav ml-auto" style="margin-right:15vw !important">
        <li><a class="nav-item nav-link  text-light" href="/home">Home <span class="sr-only">(current)</span></a></li>
        <li> <a class="nav-item nav-link text-light" href="/team">Team</a></li>
        <li> <a class="nav-item nav-link active text-light" href="/about-us">About Us</a></li>
        <li> <a class="nav-item nav-link text-light" href="/contact-us">Contact</a></li>
        <li><a class="nav-item nav-link text-light" href="/car-catalogue">Cars</a> </li>
      </ul>

    </div>
  </nav>