
      @media only screen and (max-width: 991px) {
    .navbar-brand{
  font-size:30px !important;
}
.nav{
        padding-top:5vh;
      }

.nav li a {
  font-size:15px !important;
  margin-left:15vw !important;
}
nav{
  background-color:rgb(0, 17, 53) !important;
}
}
*{
margin:0;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;
}
   nav {
      background: linear-gradient(to right,rgba(0, 0, 0, 0.507),rgb(3, 11, 19),rgba(0, 0, 0, 0.521));
    }

    nav li{
  margin-left:2vw;
}
.brandlogo{
    height:50px !important;
  }
.navbar-brand{
  font-size:5vh;
}
.nav li a {
  font-size:3vh;
}
  body{
  
    background: linear-gradient(white,rgb(162, 238, 248));
}
  .media{
    margin-left: 10px;

  }
  .container .container-fluid{
    width: 100%;
  }
  .bg { 
  /* The image used */
   background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
 
    color: white;
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
}
  #about{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-top: 15%;
      padding-bottom:10%;
  }
  #about h2{
    color:rgb(228, 215, 34);
    font-size:12vh;
    
}
#checkname
    {
      opacity:0;
      margin-bottom:30px;
    }
  /* .hrleft{
    min-width:4vw;
    margin-left:40vw;
      max-width:4vw;
      height:0.1vh;
        margin-left:45vw;  

     
      background-color: rgb(0, 0, 0);
      border-radius: 3vw;
    
}
.hrright{
  min-width:4vw;
  max-width:4vw;
margin-right:40vw;
  height:0.1vh;
    margin-left:45vw;  

  
  background-color: rgb(0, 0, 0);
  border-radius: 3vw;
} */

.list2{
    margin:0 !important;
}
.footer-bottom h2{
    margin:0;
  }
  footer{
background:linear-gradient(to top, rgb(180, 180, 180),white) ;
}

